name: CLI Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '**' # Runs on any pull request to any branch

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.23' # Specify the Go version you need

      - name: Install dependencies
        run: cd ./cli/htmgo && go mod download

      - name: Run Go tests
        run: cd ./cli/htmgo/tasks/astgen && go test ./... -coverprofile=coverage.txt

      - name: Upload results to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
